@model Snapp.Core.ViewModels.Profile.PriceConfirmViewModel;

<h4 class="text-center">تائید سفر</h4>
<img src="~/images/42550-oncoming-taxi-icon.png" alt="snapp" style="margin:auto"/>
<br />
<h4 class="text-center">@Model.Price.ToString("n0") ریال</h4>

