@model Snapp.Core.ViewModels.Admin.DriverCertificateViewModel

@{
    ViewData["Title"] = "مدارک راننده";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ثبت مدارک راننده</h4>
                <h4 class="title pull-left">
                    <a href="/User/Index" class="btn btn-danger">
                        بازگشت
                    </a>
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <form asp-action="EditDriverCertificate" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="IsConfirmed" class=""></label>
                        <input type="checkbox" asp-for="IsConfirmed" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CertificateImage" class="control-label"></label>
                        <input asp-for="CertificateImage" class="form-control" type="file" />
                        <span asp-validation-for="CertificateImage" class="text-danger"></span>
                    </div>
                    <br />
                    <img src="~/images/driver/@Model.CertificateImageName"
                         class="img-responsive" style="margin:auto" height="100" width="100" alt="تصویری یافت نشد" />
                    <div class="form-group">
                        <input type="submit" value="ذخیره" class="btn btn-info btn-fill" />

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="~/js/sweet.js"></script>
@if (ViewBag.IsSuccess)
{
    <script>
        swal("انجام شد", "تغییرات با موفقیت انجام شد.", "success", { button: "متوجه شدم" });
    </script>
}
@if (ViewBag.IsError)
{
    <script>
        swal("اخطار", "لطفا تصویر با پسوند jpg انتخاب کنید", "warning", { button: "متوجه شدم" });
    </script>
}

